* {
    --background-art1: (@grid: 11x2 / 30vh 100vw;
            margin: -220px;
            padding: -20px;
        );
    --background-art2: (background: #c9094a;
            transform: scale(@r(.2, .4)) translate3d(@r(10px), @r(50px), 0);
            background: @pick(var(--pink-highlight), var(--pink-highlight), var(--pink-highlight), var(--background), var(--background), white);
            opacity: calc(@r(1, 5) /10);
            border-radius: 50%;
        );
}