<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/3c781423fd.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Italianno|Raleway" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <div id="home" class="container-fluid">
        <div class="bgImage">

            <!--NavBar-->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNav" aria-expanded="false">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="gelbelle.github.io/index.html#home">
                            <span class="cursive-accent" margin: 30px>Angeleah Hoeppner </span>
                            <span class="sr-only">Home</span>
                        </a>
                    </div>
                    <!--//Navbar Header-->
                    <div class="collapse navbar-collapse navbar-right" id="topNav">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="index.html#about"><button class="btn btn-inverse">About<span class="sr-only">About</span></button></a>
                            </li>
                            <li>
                                <a href="gelbelle.github.io/index.html#portfolio"><button class="btn btn-inverse">Portfolio<span class="sr-only">Portfolio</span></button></a>
                            </li>
                            <li>
                                <a href="/blog"><button class="btn btn-inverse">Blog<span class="sr-only">Blog</span></button></a>
                            </li>
                            <li>
                                <a href="index.html#contact"><button class="btn btn-inverse">Contact<span class="sr-only">Contact</span></button></a>
                            </li>
                        </ul>
                    </div>
                    <!--//Navbar Links-->
                </div>
                <!--//Container-fluid-->
            </nav>
            <!--NavBar End-->

            <!--Spacer-->
            <div class="col-xs-12" style="height:50px;"></div>
            <!--Spacer-->
            <div class="col-xs-12" style="height:50px;"></div>
            <!--Spacer-->
            <div class="col-xs-12" style="height:50px;"></div>
            <div class="container">
                {{ content }}
            </div>
            <!--//Content container-->
                <footer>
                    <hr>
                    <div class="row">
                        <div class="col-lg-2 ftr-style">
                            <button class="btn btn-block btn-contact"><i class="fa fa-paper-plane"></i> Contact</button>
                        </div>
                        <div class="col-lg-10">
                            <div class="btn-group">
                                <button class="btn btn-sq-xs btn-facebook"><i class="fa fa-thumbs-up"></i></button>
                                <button class="btn btn-sq-xs btn-twitter"><i class="fa fa-twitter"></i></button>
                                <button class="btn btn-sq-xs btn-linkedin"><i class="fa fa-linkedin-square"></i></button>
                                <button class="btn btn-sq-xs btn-github"><i class="fa fa-github-alt"></i></button>
                                <button class="btn btn-sq-xs btn-freecodecamp"><i class="fa fa-free-code-camp"></i></button>
                                <button class="btn btn-sq-xs btn-instagram"><i class="fa fa-instagram"></i></button>
                            </div>
                        </div>
                    </div>
                </footer>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script src="js/index.js"></script>
        </div> <!--//BG Image-->
    </div>
    <!--//Home-->
</body>

</html>
